@model ServerING.ViewModels.UsersViewModel

@{
    ViewData["Title"] = "User Role Control";
}

<div class="text-center">
    <h3 class="display-4">User Role Control</h3>
</div>

<form method="get">
    <div class="form-group">
        <label><b>Login</b></label>
        <input name="login" placeholder="Login" value="@Model.FilterUserViewModel.SelectedLogin" class="form-control-sm" />
        <input type="submit" value="Find" class="btn btn-outline-dark float-end" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="ControlUser"
                    asp-route-sortOrder="@(Model.SortUserViewModel.LoginSort)"
                    asp-route-login="@(Model.FilterUserViewModel.SelectedLogin)">

                    Login
                </a>
            </th>
            <th>
                <a asp-action="ControlUser"
                    asp-route-sortOrder="@(Model.SortUserViewModel.RoleSort)"
                    asp-route-login="@(Model.FilterUserViewModel.SelectedLogin)">

                    Current Role
                </a>
            </th>
            <th>
                Detail
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Login</td>

                <td>
                    @if (user.Role == "Admin") {
                        <div class="badge bg-danger text-wrap">
                            @user.Role
                        </div>
                    }
                    else {
                        <div class="badge bg-info text-wrap">
                            @user.Role
                        </div>
                    }
                    
                </td>
                <td>
                    @if (User.Identity.Name == user.Login) {
                        <a class="btn btn-primary disabled" asp-action="UserDetail" asp-controller="Admin" asp-route-id="@user.Id">You</a>
                    }
                    else if (user.Login == "admin") {
                        <a class="btn btn-danger disabled" asp-action="UserDetail" asp-controller="Admin" asp-route-id="@user.Id">Unable</a>
                    }
                    else {
                        <a class="btn btn-primary" asp-action="UserDetail" asp-controller="Admin" asp-route-id="@user.Id">Change</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ControlUser"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-login="@(Model.FilterUserViewModel.SelectedLogin)"
       asp-route-sortorder="@(Model.SortUserViewModel.CurrentSort)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}

<div class="btn btn-outline-dark">@Model.PageViewModel.PageNumber</div>

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ControlUser"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-login="@(Model.FilterUserViewModel.SelectedLogin)"
       asp-route-sortorder="@(Model.SortUserViewModel.CurrentSort)"
       class="btn btn-outline-dark">
        Forward
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

