@model ServerING.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Servers Control";
}

<div class="text-center">
    <h3 class="display-4">Servers Control</h3>
</div>

<div class="row">
    <a class="btn btn-info" asp-controller="Admin" asp-action="AddServer">Add Server</a>
</div>
<br />

<form method="get">
    <div class="form-group">
        <label><b>Name  </b></label>
        <input name="name" placeholder="Name" value="@Model.FilterViewModel.SelectedName" class="form-control-sm" />

        <label><b>Platofrm</b></label>
        <select name="platformId" asp-items="Model.FilterViewModel.Platforms" class="form-control-sm"></select>

        <input type="submit" value="Filtr" class="btn btn-outline-dark float-end" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="ControlServer"
                    asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Name
                </a>
            </th>
            <th>
                <a asp-action="ControlServer" 
                    asp-route-sortOrder="@(Model.SortViewModel.IPSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    IP
                </a>
            </th>
            <th>
                <a asp-action="ControlServer" 
                    asp-route-sortOrder="@(Model.SortViewModel.GVSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Game Version
                </a>
            </th>
            <th>
                <a asp-action="ControlServer" 
                    asp-route-sortOrder="@(Model.SortViewModel.PlatformSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Platform
                </a>
            </th>
            <th>
                Update
            </th>
            
            <th>
                Delete
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Model.Servers)
        {
            <tr>
                <td>@server.Name</td>
                <td>@server.Ip</td>
                <td>@server.GameVersion</td>
                <td>@Model.Platforms.FirstOrDefault(p => p.Id == server.PlatformID)?.Name</td>
                <td><a class="btn btn-primary" asp-action="UpdateServer" asp-controller="Admin" asp-route-id="@server.Id">Update</a></td>

                <td>
                    <a class="btn btn-danger" onclick="return confirm('Are you sure you want to Delete This?')"  
                        asp-action="DeleteServer" 
                        asp-controller="Admin" 
                        asp-route-id="@server.Id"
                        asp-route-page="FavoriteServers">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ControlServer"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)"
       asp-route-sortorder="@(Model.SortViewModel.CurrentSort)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}

<div class="btn btn-outline-dark">@Model.PageViewModel.PageNumber</div>

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ControlServer"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)"
       asp-route-sortorder="@(Model.SortViewModel.CurrentSort)"
       class="btn btn-outline-dark">
        Forward
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

