@model ServerING.ViewModels.DetailViewModel

@{
    ViewBag.Title = Model.Server.Name;
}

<h2><b>Server:</b> @Model.Server.Name</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <h4><b>Server Info</b></h4>

            <dl class="dl-horizontal">

                <dt><b>Id</b></dt>
                <dd>@Model.Server.Id</dd>
 
                <dt><b>Ip</b></dt>
                <dd>@Model.Server.Ip</dd>

                <dt><b>Game Version</b></dt>
                <dd>@Model.Server.GameVersion</dd>

            </dl>
        </div>

        @if (Model.WebHosting != null) {
            <div class="col-sm">

                <h4><b>Web Hosting Info</b></h4>

                <dl class="dl-horizontal">

                    <dt><b>Id</b></dt>
                    <dd>@Model.WebHosting.Id</dd>
 
                    <dt><b>Name</b></dt>
                    <dd>@Model.WebHosting.Name</dd>

                    <dt><b>Price Per Months</b></dt>
                    <dd>@Model.WebHosting.PricePerMonth</dd>

                    <dt><b>Subscribe Months</b></dt>
                    <dd>@Model.WebHosting.SubMonths</dd>

                </dl>
            </div>
        }

        <div class="col-sm">

            <h4><b>Country Info</b></h4>

            <dl class="dl-horizontal">
                <dt><b>Name</b></dt>
                <dd>@Model.Country.Name</dd>

                <dt><b>Level Of Interest</b></dt>
                <dd>@Model.Country.LevelOfInterest</dd>
 
                <dt><b>Overall Players</b></dt>
                <dd>@Model.Country.OverallPlayers</dd>
            </dl>
        </div>
    </div>
</div>


<div>
    <h3><b>Players</b></h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nickname
                </th>
                <th>
                    Hours Played
                </th>
                <th>
                    Last Played
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Nickname</td>
                    <td>@player.HoursPlayed</td>
                    <td>@player.LastPlayed</td>
                </tr>
            }
        </tbody>
    </table>
</div>
