@model ServerING.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Server IN Game</h1>
    <h3 class="display-4">Best Servers For You Are Here</h3>
</div>
<br />

<form method="get">
    <div class="form-group">
        <label><b>Name  </b></label>
        <input name="name" placeholder="Name" value="@Model.FilterViewModel.SelectedName" class="form-control-sm" />

        <label><b>Platofrm</b></label>
        <select name="platformId" asp-items="Model.FilterViewModel.Platforms" class="form-control-sm"></select>

        <input type="submit" value="Filtr" class="btn btn-outline-dark float-end" />
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                    asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Name
                </a>
            </th>
            <th>
                <a asp-action="Index" 
                    asp-route-sortOrder="@(Model.SortViewModel.IPSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    IP
                </a>
            </th>
            <th>
                <a asp-action="Index" 
                    asp-route-sortOrder="@(Model.SortViewModel.GVSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Game Version
                </a>
            </th>
            <th>
                <a asp-action="Index" 
                    asp-route-sortOrder="@(Model.SortViewModel.PlatformSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Platform
                </a>
            </th>
            <th>
                <a asp-action="Index" 
                    asp-route-sortOrder="@(Model.SortViewModel.RatingSort)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)"
                    asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)">

                    Rating
                </a>
            </th>
            <th>
                Information
            </th>
            @if (User.Identity.IsAuthenticated) {
                <th>
                    Favorite
                </th>
            }
            
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Model.Servers)
        {
            <tr>
                <td>@server.Name</td>
                <td>@server.Ip</td>
                <td>@server.GameVersion</td>
                <td>@Model.Platforms.FirstOrDefault(p => p.Id == server.PlatformID)?.Name</td>
                <td>
                    <div class="badge bg-info text-wrap">
                      @server.Rating
                    </div>
                </td>
                <td><a class="btn btn-primary" asp-action="Detail" asp-controller="Home" asp-route-id="@server.Id">Detail</a></td>

                <td>
                    @if (User.Identity.IsAuthenticated) {
                        if (Model.UserFavoriteServerIds.Contains(server.Id)) {
                            <a class="btn btn-danger" 
                                asp-action="DeleteFromFavorite" 
                                asp-controller="User" 
                                asp-route-id="@server.Id"
                                asp-route-page="Index">Delete</a>
                        }
                        else {
                            <a class="btn btn-success" asp-action="AddToFavorite" asp-controller="User" asp-route-id="@server.Id">Add</a>
                        }
                    }
                </td>
                
            </tr>
            
        }
    </tbody>
</table>



@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)"
       asp-route-sortorder="@(Model.SortViewModel.CurrentSort)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}

<div class="btn btn-outline-dark">@Model.PageViewModel.PageNumber</div>

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-platformId="@(Model.FilterViewModel.SelectedPlatform)"
       asp-route-sortorder="@(Model.SortViewModel.CurrentSort)"
       class="btn btn-outline-dark">
        Forward
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}



@*<a class="btn btn-success" asp-controller="Cars" asp-action="Update" asp-route-id="@el.id">Изменить</a>*@



